In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
df = pd.read_csv("cardekho_imputated.csv" , index_col=[0])

In [9]:
df.head()

,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [10]:
df.shape

(15411, 13)

In [17]:
df["selling_price"].sort_values(ascending=False)

4845     39500000
13944    24200000
1508     14500000
12456    13000000
12023    11100000
           ...
4831        50000
9413        50000
15593       50000
17349       45000
9731        40000
Name: selling_price, Length: 15411, dtype: int64

In [19]:
df.describe().apply(lambda s: s.apply('{0:.5f}'.format))

,vehicle_age,km_driven,mileage,engine,max_power,seats,selling_price
count,15411.00000,15411.00000,15411.00000,15411.00000,15411.00000,15411.00000,15411.00000
mean,6.03634,55616.48063,19.70115,1486.05775,100.58825,5.32548,774971.11641
std,3.01329,51618.54842,4.17126,521.10670,42.97298,0.80763,894128.36326
min,0.00000,100.00000,4.00000,793.00000,38.40000,0.00000,40000.00000
25%,4.00000,30000.00000,17.00000,1197.00000,74.00000,5.00000,385000.00000
50%,6.00000,50000.00000,19.67000,1248.00000,88.50000,5.00000,556000.00000
75%,8.00000,70000.00000,22.70000,1582.00000,117.30000,5.00000,825000.00000
max,29.00000,3800000.00000,33.54000,6592.00000,626.00000,9.00000,39500000.00000

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15411 entries, 0 to 19543
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   car_name           15411 non-null  object
 1   brand              15411 non-null  object
 2   model              15411 non-null  object
 3   vehicle_age        15411 non-null  int64
 4   km_driven          15411 non-null  int64
 5   seller_type        15411 non-null  object
 6   fuel_type          15411 non-null  object
 7   transmission_type  15411 non-null  object
 8   mileage            15411 non-null  float64
 9   engine             15411 non-null  int64
 10  max_power          15411 non-null  float64
 11  seats              15411 non-null  int64
 12  selling_price      15411 non-null  int64
dtypes: float64(2), int64(5), object(6)
memory usage: 1.6+ MB

# //  NOW data define into categorial and numerical value

In [11]:
numerical_features = [feature for feature in df.columns if df[feature].dtype in ['int64', 'float64']]

In [ ]:
categorial_feature = [feature for featur in df.columns if df[feature].dtype]=='0'